$btnHeight: 26px;

.bnn-btn,
.mat-button.bnn-btn {
    border-radius: 5px;
    font-weight: normal;
    min-height: $btnHeight;
    line-height: 40px;
    @include fontSize(16px);
    text-decoration: none;

    &--navigate {
        position: relative;
        min-width: 0;
        padding-right: 40px;
        background-color: $themeBlueColor;
        color: #fff;
        min-height: 50px;
        line-height: 50px;
        &:after {
            position: absolute;
            top: 0px;
            right: 10px;
            font-family: "Material Icons";
            content: "games";
            font-size: 24px;
        }
    }
}