<ul class="bnn-main-menu">
  <li><a [routerLink]="['/games']" routerLinkActive="active">Games</a></li>
  <li><a [routerLink]="['/rules']" routerLinkActive="active">Rules</a></li>
  <li><a [routerLink]="['/about']" routerLinkActive="active">About</a></li>
</ul>